################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MediatRProject/.vs/MediatRProject/DesignTimeBuild
/MediatRProject/.vs/MediatRProject/v17
/MediatRProject/MediatRProject/bin/Debug/net6.0
/MediatRProject/MediatRProject/obj
/MediatRProject/MediatRProject/MediatRProject.csproj.user
/WebApiWithDocker/WebApiWithDocker/obj
/WebApiWithDocker/.vs/WebApiWithDocker/v17
/WebApiWithDocker/.vs/WebApiWithDocker/config
/WebApiWithDocker/.vs/WebApiWithDocker/DesignTimeBuild
/WebApiWithDocker/WebApiWithDocker/bin/Debug/net6.0
