################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MediatRProject/.vs/MediatRProject/DesignTimeBuild
/MediatRProject/.vs/MediatRProject/v17
/MediatRProject/MediatRProject/bin/Debug/net6.0
/MediatRProject/MediatRProject/obj
/MediatRProject/MediatRProject/MediatRProject.csproj.user
/WebApiWithDocker/WebApiWithDocker/obj
/WebApiWithDocker/.vs/WebApiWithDocker/v17
/WebApiWithDocker/.vs/WebApiWithDocker/config
/WebApiWithDocker/.vs/WebApiWithDocker/DesignTimeBuild
/WebApiWithDocker/WebApiWithDocker/bin/Debug/net6.0
/Microservices/ServiceOne/.vs/ServiceOne
/Microservices/ServiceOne/ServiceOne/bin/Debug/net5.0
/Microservices/ServiceOne/ServiceOne/obj
/Microservices/ServiceTwo/.vs/ServiceTwo
/Microservices/ServiceTwo/ServiceTwo/bin/Debug/net5.0
/Microservices/ServiceTwo/ServiceTwo/obj
/InMemoryDb/.vs/InMemoryDb
/InMemoryDb/InMemoryDb/bin/Debug/net5.0
/InMemoryDb/InMemoryDb/obj
/FastReport/FastReportDesigner/.vs/FastReportDesigner
/FastReport/FastReportDesigner/FastReportDesigner/bin/Debug/net6.0-windows
/FastReport/FastReportDesigner/FastReportDesigner/obj
/FastReport/FastReportPdf/.vs/FastReportPdf/v17
/FastReport/FastReportPdf/FastReportPdf/bin/Debug/net6.0
/FastReport/FastReportPdf/FastReportPdf/obj
/FastReport/FastReportPdf/.vs/FastReportPdf/DesignTimeBuild
