################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/MediatRProject/MediatRProject/MediatRProject.csproj.user
*.Local.json
bin/
obj/
*.bin
*.vsidx